.formMain {
  composes: main from "../home-page.module.css";
}

.form {
  display: grid;
  width: 100%;
  max-width: var(--container-width);
  gap: 1rem;
}

.gameWrapper {
  display: grid;
  justify-items: center;
  width: 100vw;
  min-height: 100vh;
  background: var(--color-ui-900);
  overflow-x: auto;
}

.gameMain {
  display: grid;
  gap: 2rem;
  place-content: start stretch;
  padding: 1rem;
  max-width: 90rem;
  width: 100%;
}
