@property --gradient-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

:root {
  --color-ui-900: #101e1a;
  --color-ui-800: #25322f;
  --color-ui-700: #3b4743;
  --color-ui-600: #505b58;
  --color-ui-500: #666f6d;
  --color-ui-400: #7b8481;
  --color-ui-300: #919896;
  --color-ui-200: #a6acaa;
  --color-ui-100: #e7e9e8;

  --color-gamit: conic-gradient(
    from var(--gradient-angle) at 60% 60%,
    #ed2031,
    #74429b,
    #29479d 90deg,
    #128b44 200deg,
    #9acb26 230deg,
    #f9f224 270deg,
    #ed2031
  );
  --color-gamit-cover: radial-gradient(
    farthest-corner at 60% 60%,
    rgba(255, 255, 255, 0.96),
    rgba(255, 255, 255, 0)
  );

  --container-width: 800px;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-ui-900);
  background: var(--color-ui-100);
  animation: gradient-animation 20s linear infinite;
}

@keyframes gradient-animation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  line-height: inherit;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  text-transform: inherit;
  padding: 1rem 1.5rem;
  background: var(--color-ui-900);
  color: var(--color-ui-100);
  border-radius: 0.25rem;
  text-align: center;
}
