.main {
  display: grid;
  place-items: stretch;
  min-height: 100svh;
}

.entry {
  background: var(--color-gamit-cover), var(--color-gamit);
  border: 0.5rem solid var(--color-ui-900);
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.24);
  padding: 2rem;
}

.entry button {
  margin-top: 2rem;
}

@media screen and (min-width: 640px) {
  .main {
    place-items: center;
    padding: 1rem;
  }
  .entry {
    padding: 4rem;
    width: 100%;
    max-width: var(--container-width);
    border-radius: 0.25rem;
  }
}
