.gameDisplay {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: var(--color-ui-800);
  border-radius: 3rem;
  min-width: 10rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 6px 12px -6px rgba(0, 0, 0, 0.24);
}

.gameDisplay button {
  padding: 1rem 1rem;
  border-radius: 2rem;
  background: var(--color-ui-300);
  color: var(--color-ui-900);
}

.gameDisplay button:has(img) {
  width: 3.25rem;
  height: 3.25rem;
  margin-right: auto;
}

.gameDisplay button img {
  height: 1.25rem;
}

.playerList {
  display: flex;
  list-style: none;
  padding: 0.5rem 0;
  margin: 0;
}

.playerAvatar {
  display: grid;
  width: 3rem;
  height: 3rem;
  font-weight: bold;
  place-items: center;
  border-radius: 50%;
  background: var(--color-ui-600);
  color: var(--color-ui-100);
  font-size: 1rem;
}

.playerAvatar:not(:first-of-type) {
  margin-left: -0.75rem;
}
